.App {
	text-align: center;
}

.linksContainer {
	display: flex;
	width: fit-content;
	gap: 20px;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.body {
	padding-bottom: 150px;
}

hr {
	max-width: 100px;
}

footer {
	width: 100%;
	background-color: azure;
	position: fixed;
	bottom: 0;
	height: 130px;
}
